.report-section img{    
    height: auto;
    max-width:150px;    
}

.logo{ 
margin-top: -10%;

}

.custom-nav{
    
    height:8%;
}

#loading-spinner{
    margin-left:35%;
    margin-right: 20%;
    margin-top: 0%;
}